@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f6f9fc;
  --foreground: #242424;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #242424;
    --foreground: #f6f9fc;
  }
}

body {
  width: 100%;
  font-family: sans-serif;
}

#particles-js {
  position: fixed;
  inset: 0;
  color: var(--foreground);
  background: var(--background);
  min-width: 100%;
  min-height: 100vh;
  z-index: 1;
}