@import "tailwindcss";

:root {
  --background: #f6f9fc;
  --foreground: #242424;
  --primary: #65B0B7;
  --accent: #214C5F;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #242424;
    --foreground: #f6f9fc;
  }
}

::selection {
  background: var(--background);
  color: var(--foreground)
}

body {
  width: 100%;
  font-family: sans-serif;
}

